* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('img/1.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    height: 132px;
    display: flex;
    justify-content: space-between;
    color:white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
}
.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    display: flex;
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(230, 230, 230);
    margin: 16px;
    padding: 16px;
    font-size: 30px;
}
.nav-links li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    transform: scale(1.1);
}
.logo img{
    margin-left: 30px;
    width: 70px;
    height: 70px;
}
.logo p{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin: 0;
    margin-left: 32px;
    color: rgb(230, 230, 230);
}

@media screen and (max-width: 1024px){
    body {
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .nav-links li a{
        font-size: 20px;
    }
    .logo img{
        width: 50px;
        height: 50px;
        }
}
    
@media screen and (max-width: 600px){
    body {
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .nav-links li a{
        font-size: 12px;  
        margin: 16px;
        padding: 0px;
    }
.logo img{
    width: 40px;
    height: 40px;
    margin-left: 16px;
    }
.logo p{
    font-size: 12px;
    margin: 16px
}
