p 
    {background-color: yellowgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paragraf {
    color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#minandraparagraf {
    font-size: 40px;
    color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {width: 300px;
    height: 300px;}

h1 {text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    letter-spacing: -2px;
}

body {
    background-color: pink;
}

.box {
    background:skyblue;
    padding: 5px;
    margin: 30px;
    border-radius: 50px;
}